.main{
    border-style: solid;
    border-color: #1154d2;
}
form{
    padding: 20px;
    
}
button{
    padding:10px;
    margin: 10px;
    color: rgb(25, 25, 230);
}
table{
    border-radius: 5px;
    border: 1px solid;
    margin-left: 20px;
    margin-bottom: 20px;
}
th, td {
    padding: 10px;
    border: 1px solid;
}
h2{
    margin-left: 20px;
}
p{
    margin-left: 20px;
}